<!DOCTYPE html>
<html lang="fi" xml:lang="fi" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="w3.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="styles/grids.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<title>Triplagolf</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex"></script>
	<script language="javascript" type="text/javascript" src="jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
</head>

<body class= "w3-pale-blue">

<div class="w3-container" id="vueApp">
	<!-- <audio autoplay>
	<source src="DG-Putt.mp3" type="audio/mpeg">
	</audio> -->

	<!--  TITLE  -->

	<div class="" v-if="screenState == 'startScreen'">
		<p/><p/><p/><p/><p/>
		<img id="logo" src="triplagolf.gif" ><p/><p/>
	</div>

	<div id="titleBox" class="w3-container w3-center w3-xxlarge w3-lobster titleBoxLarge " v-if="screenState != 'startScreen' && loginState == 'logged in'">
		 {{MainTitle}} <img src="logo.gif" style="width:60px;height:60px; ">
	</div>

	<!-- MAIN APP -->

	<div id="gameAppDiv" class="w3-container" v-if="loginState == 'logged in'">
		<div class='mainButtonGrid' v-if="screenState=='startScreen'">
    	<button class="w3-btn mainButtonGrid-item"  > Seuraa </button>
      <button class="w3-btn mainButtonGrid-item"> Liity / Jatka / Luo uusi</button>
			<button class="w3-btn mainButtonGrid-item" v-on:click="screenState='settingsScreen'"> Peliasetukset </button>
		</div>

		<div id="settingsScreenDiv" class="w3-container settingsButtonGrid" v-if="screenState=='settingsScreen'">

      <button class="settingsButtonGrid-item w3-btn w3-green"> Pistejako </button>
			<button class="settingsButtonGrid-item w3-btn w3-green"> Maksimilyönnit </button>
      <button class="settingsButtonGrid-item w3-btn w3-green"> Säätö </button>
			<div class="settingsButtonGrid-item"></div>
			<div class="OkButtonGrid settingsButtonGrid-item">
				<button class="OkButtonGrid-item w3-btn w3-green" onclick="vueApp.gameSettings = vueApp.TempGameSettings" v-on:click="screenState='startScreen'">Tallenna</button>
				<button class="OkButtonGrid-item w3-btn w3-green"v-on:click="screenState='startScreen'" >Peruuta</button>
			</div>
			<div class='w3-bottom'>
				<button class=" w3-btn w3-red" v-on:click="toggleSignIn"> Logout </button>
			</div>
		</div>


	</div>
	<!-- INFOTAULU - Ei käytössä-->
	<div id="infoDiv" class="w3-container startScr w3-center w3-large" style="display:none;"> </div>

	<!-- LOGGING -->
	<img src='images/btn_google_signin_dark_pressed_web.png' class="login_button_img" v-if="loginState=='logged out'" v-on:click="toggleSignIn" alt='login'></img>
	<button v-if="loginState=='logging in'"> LoginInActice </button>





	<!--<LoginButton class="w3-btn w3-blue" ></LoginButton>
	<logoutButton class="w3-btn w3-blue" ></logoutButton>
	<LoginButtonInactive class="w3-btn w3-blue" ></LoginButtonInactive>-->

</div>


<!-- Code injected by live-server -->
<script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function() {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					head.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					head.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function(msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			console.log('Live reload enabled.');
		})();
	}
	// ]]>
</script>
</body>
<script src="funs/userinterface.js"></script>
<script src="funs/myLib.js"></script>
<script src="funs/app.js"></script>
<script src="funs/settings.js"></script>
<script src="funs/nav.js"></script>
<script src="funs/results.js"></script>
<script src="funs/vueApp.js"></script>
</html>
